@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

.callout{
  margin-top:100px;
}

.quote{
  padding-left: 50px;
  font-family: "Noto Sans";
  font-size:32px;
  padding-right:20px;
}

.author{
  font-family: "Noto Sans";
padding-right: 20px;
  font-size:30px;
  margin-bottom: 28  px;
}
.button{
font-family: "Noto Sans";
background-color:#fff;
}

.author::before{
  content: " -  ";
}
